In [14]:
# load packages
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix

In [2]:
# load data
train = pd.read_csv("data/train-cleaned.csv")
train.head(5)

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,EmbarkedCode,SexCode
0,1,0,3,22.0,1,0,7.2500,2,1
1,2,1,1,38.0,1,0,71.2833,0,0
2,3,1,3,26.0,0,0,7.9250,2,0
3,4,1,1,35.0,1,0,53.1000,2,0
4,5,0,3,35.0,0,0,8.0500,2,1

In [19]:
# test prediction
test = pd.read_csv("data/test-cleaned.csv")
test.head()

   PassengerId  Pclass   Age  SibSp  Parch     Fare  EmbarkedCode  SexCode
0          892       3  34.5      0      0   7.8292             1        1
1          893       3  47.0      1      0   7.0000             2        0
2          894       2  62.0      0      0   9.6875             1        1
3          895       3  27.0      0      0   8.6625             2        1
4          896       3  22.0      1      1  12.2875             2        0

In [3]:
x_train, x_validate, y_train, y_validate = train_test_split(train.iloc[:, 2:], train.iloc[:, [1]])

In [4]:
print(x_train.shape, y_train.shape)
print(x_validate.shape, y_validate.shape)

(668, 7) (668, 1)
(223, 7) (223, 1)

In [5]:
x_train.head()

     Pclass   Age  SibSp  Parch     Fare  EmbarkedCode  SexCode
11        1  58.0      0      0  26.5500             2        0
861       2  21.0      1      0  11.5000             2        1
759       1  33.0      0      0  86.5000             2        0
442       3  25.0      1      0   7.7750             2        1
534       3  30.0      0      0   8.6625             2        0

In [6]:
y_train.head()

     Survived
11          1
861         0
759         1
442         0
534         0

In [7]:
print(x_train.columns, y_train.columns)
print(x_validate.columns, y_validate.columns)

Index(['Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'EmbarkedCode', 'SexCode'], dtype='object') Index(['Survived'], dtype='object')
Index(['Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'EmbarkedCode', 'SexCode'], dtype='object') Index(['Survived'], dtype='object')

In [32]:
# basic decision tree model
num_features = len(x_train.columns)

model1 = DecisionTreeClassifier(max_depth=num_features, random_state=2018)
print(model1)

model1.fit(x_train, y_train)

validation_prediction = model1.predict(x_validate)

print("validation accuracy = ", accuracy_score(y_validate, validation_prediction))

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=7,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=2018,
            splitter='best')
validation accuracy =  0.8340807174887892

In [10]:
predictions = model1.predict(test.iloc[:, 1:])

In [22]:
def save_prediction(prediction_list, fname):
    tmp_df = test.iloc[:, [0]].copy()
    tmp_df["Survived"] = prediction_list
    # save the prediction
    tmp_df.to_csv("data/" + fname, index=False)
    return True

In [23]:
save_prediction(predictions, "prediction-decision-tree.csv")

True

In [14]:
# model a random forest classifier
model = RandomForestClassifier(n_estimators=1000,
                               max_depth=num_features
                              )
print(model)
model.fit(x_train, y_train.values.ravel())

validation_prediction = model.predict(x_validate)

print("Validation accuracy = ", accuracy_score(y_validate, validation_prediction))

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=7, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=1000, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)
Validation accuracy =  0.8071748878923767

In [15]:
predictions = model1.predict(test.iloc[:, 1:])

In [16]:
save_prediction(predictions, "prediction-rf.csv")

True