In [1]:
# load packages
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix

In [2]:
# load data
train = pd.read_csv("train_cleaned.csv")
train.head(5)

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,EmbarkedCode,SexCode
0,1,0,3,22.0,1,0,7.2500,2,1
1,2,1,1,38.0,1,0,71.2833,0,0
2,3,1,3,26.0,0,0,7.9250,2,0
3,4,1,1,35.0,1,0,53.1000,2,0
4,5,0,3,35.0,0,0,8.0500,2,1

In [3]:
x_train, x_val, y_train, y_val = train_test_split(train.iloc[:, 2:], train.iloc[:, [1]])

In [4]:
print(x_train.shape, y_train.shape)
print(x_val.shape, y_val.shape)

(668, 7) (668, 1)
(223, 7) (223, 1)

In [5]:
print(x_train.columns, y_train.columns)
print(x_val.columns, y_val.columns)

Index(['Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'EmbarkedCode', 'SexCode'], dtype='object') Index(['Survived'], dtype='object')
Index(['Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'EmbarkedCode', 'SexCode'], dtype='object') Index(['Survived'], dtype='object')

In [6]:
# basic decision tree model
num_features = len(train.columns)
model1 = DecisionTreeClassifier(criterion="gini",
                               splitter="best",
                               max_depth=num_features,
                               random_state=2018)
model1.fit(x_train, y_train)

validation_prediction = model1.predict(x_val)

print("validation accuracy = ", accuracy_score(y_val, validation_prediction))

print("Confusion Matrix:\n", confusion_matrix(validation_prediction, y_val))

validation accuracy =  0.7982062780269058
Confusion Matrix:
 [[118  22]
 [ 23  60]]

In [7]:
# test prediction
test = pd.read_csv("test_cleaned.csv")
test.head(5)

   PassengerId  Pclass   Age  SibSp  Parch     Fare  EmbarkedCode  SexCode
0          892       3  34.5      0      0   7.8292             1        1
1          893       3  47.0      1      0   7.0000             2        0
2          894       2  62.0      0      0   9.6875             1        1
3          895       3  27.0      0      0   8.6625             2        1
4          896       3  22.0      1      1  12.2875             2        0

In [8]:
predictions = model1.predict(test.iloc[:, 1:])

In [9]:
test.shape, len(predictions)

((418, 8), 418)

In [10]:
# save the predictions
tmp_df = test.iloc[:, [0]].copy()
tmp_df.head()

   PassengerId
0          892
1          893
2          894
3          895
4          896

In [11]:
tmp_df["Survived"] = predictions
tmp_df.to_csv("prediction_dt.csv", index=False)

Test Accuracy is about 80% when checked on Kaggle.