In [1]:
# load packages
import os
import sys
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score

In [2]:
train = pd.read_csv("train_cleaned.csv")
train.head(5)

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,EmbarkedCode,SexCode
0,1,0,3,22.0,1,0,7.2500,2,1
1,2,1,1,38.0,1,0,71.2833,0,0
2,3,1,3,26.0,0,0,7.9250,2,0
3,4,1,1,35.0,1,0,53.1000,2,0
4,5,0,3,35.0,0,0,8.0500,2,1

In [3]:
# split the train data in train and validation set
x_train, x_val, y_train, y_val = train_test_split(train.iloc[:, 2:], train.iloc[:, [1]])

In [4]:
x_train.shape, y_train.shape

((668, 7), (668, 1))

In [5]:
x_val.shape, y_val.shape

((223, 7), (223, 1))

In [6]:
# model a random forest classifier
model = RandomForestClassifier(criterion="gini",
                               n_estimators=10,
                               max_depth=5,
                               bootstrap=True,
                               random_state=2037)
model.fit(x_train, y_train.values.ravel())

validation_prediction = model.predict(x_val)

print("Validation accuracy = ", accuracy_score(y_val, validation_prediction))

Validation accuracy =  0.8475336322869955

In [7]:
# load test data
test = pd.read_csv("test_cleaned.csv")
test.head()

   PassengerId  Pclass   Age  SibSp  Parch     Fare  EmbarkedCode  SexCode
0          892       3  34.5      0      0   7.8292             1        1
1          893       3  47.0      1      0   7.0000             2        0
2          894       2  62.0      0      0   9.6875             1        1
3          895       3  27.0      0      0   8.6625             2        1
4          896       3  22.0      1      1  12.2875             2        0

In [8]:
prediction = model.predict(test.iloc[:, 1:])
# save predictions on test data
tmp_df = test.iloc[:, [0]].copy()
tmp_df["Survived"] = prediction
tmp_df.head(5)

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1

In [9]:
# save predictions
tmp_df.to_csv("prediction_rf.csv", index=False)

Test Accuracy is about 77% When checked on Kaggle.