In [1]:
# fire up the numpy module
from numpy import *

### The Basics

In [2]:
a = arange(15).reshape(3, 5) # numpy array: row = 3 col = 5; numbers from 0-14
a

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [3]:
b = arange(15).reshape(5, 3)
b

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11],
       [12, 13, 14]])

In [4]:
print(a.shape, b.shape) # get the dimension of the numpy array

(3, 5) (5, 3)

In [5]:
print(type(a), type(b)) # get the type of the object

<class 'numpy.ndarray'> <class 'numpy.ndarray'>

Manual Array Creation

In [6]:
arr1 = ([1, 2, 3, 4, 5])
arr1

[1, 2, 3, 4, 5]

In [7]:
arr2 = ([1, 2, 3], [4, 5, 6])
arr2

([1, 2, 3], [4, 5, 6])

In [8]:
c = array([[1,  2], [3, 4]], dtype=complex)
c

array([[ 1.+0.j,  2.+0.j],
       [ 3.+0.j,  4.+0.j]])

In [9]:
zeros((3, 4)) # creating a numpy array of 0's

array([[ 0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.]])

In [10]:
ones((5, 5)) # creating a numpy array with only 1's

array([[ 1.,  1.,  1.,  1.,  1.],
       [ 1.,  1.,  1.,  1.,  1.],
       [ 1.,  1.,  1.,  1.,  1.],
       [ 1.,  1.,  1.,  1.,  1.],
       [ 1.,  1.,  1.,  1.,  1.]])

In [11]:
ones((5, 5), dtype=int64) # we can also specify the data type, else it will take in float by default

array([[1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])

In [12]:
linspace(0, 1, 10) # generate a array of 1D; elements from 0 to 1; divide the range in 10 parts

array([ 0.        ,  0.11111111,  0.22222222,  0.33333333,  0.44444444,
        0.55555556,  0.66666667,  0.77777778,  0.88888889,  1.        ])

In [13]:
linspace(0, 1, 5) # divide the range into 5 equal parts

array([ 0.  ,  0.25,  0.5 ,  0.75,  1.  ])

In [14]:
x = linspace(0, 2*pi, 16)
x

array([ 0.        ,  0.41887902,  0.83775804,  1.25663706,  1.67551608,
        2.0943951 ,  2.51327412,  2.93215314,  3.35103216,  3.76991118,
        4.1887902 ,  4.60766923,  5.02654825,  5.44542727,  5.86430629,
        6.28318531])

In [15]:
sin(x)

array([  0.00000000e+00,   4.06736643e-01,   7.43144825e-01,
         9.51056516e-01,   9.94521895e-01,   8.66025404e-01,
         5.87785252e-01,   2.07911691e-01,  -2.07911691e-01,
        -5.87785252e-01,  -8.66025404e-01,  -9.94521895e-01,
        -9.51056516e-01,  -7.43144825e-01,  -4.06736643e-01,
        -2.44929360e-16])

In [16]:
arr = arange(24).reshape(2, 3, 4) # depth, rows, column
arr

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]],

       [[12, 13, 14, 15],
        [16, 17, 18, 19],
        [20, 21, 22, 23]]])

In [17]:
arange(10000).reshape(100, 100)

array([[   0,    1,    2, ...,   97,   98,   99],
       [ 100,  101,  102, ...,  197,  198,  199],
       [ 200,  201,  202, ...,  297,  298,  299],
       ...,
       [9700, 9701, 9702, ..., 9797, 9798, 9799],
       [9800, 9801, 9802, ..., 9897, 9898, 9899],
       [9900, 9901, 9902, ..., 9997, 9998, 9999]])

### Basic Operations

In [18]:
A = array([[1, 1],
          [2, 2],
          [3, 3]])
B = array([[1, 2],
          [2, 3],
          [3, 4]])

In [19]:
A+2 # add the int value to all elements of the array

array([[3, 3],
       [4, 4],
       [5, 5]])

In [20]:
A*10 # multiply to all the elements in the arrray

array([[10, 10],
       [20, 20],
       [30, 30]])

In [21]:
B*B # multiply only the associated position elements; 1*1 2*2 ...

array([[ 1,  4],
       [ 4,  9],
       [ 9, 16]])

In [22]:
B.T # transpose the array

array([[1, 2, 3],
       [2, 3, 4]])

In [23]:
dot(A, B.T) # get the dot product of the two matrix

array([[ 3,  5,  7],
       [ 6, 10, 14],
       [ 9, 15, 21]])

Some Universal function

In [24]:
B = arange(10) # get the range of values: 0-9
B

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [25]:
sqrt(B) # get the square root of each element

array([ 0.        ,  1.        ,  1.41421356,  1.73205081,  2.        ,
        2.23606798,  2.44948974,  2.64575131,  2.82842712,  3.        ])

In [26]:
C = arange(10)
add(sqrt(B), C) # adding two ranges together

array([  0.        ,   2.        ,   3.41421356,   4.73205081,
         6.        ,   7.23606798,   8.44948974,   9.64575131,
        10.82842712,  12.        ])

Shape Manipulation

In [27]:
a = floor(10*random.random((3, 4)))
a

array([[ 4.,  1.,  2.,  5.],
       [ 6.,  5.,  8.,  4.],
       [ 0.,  4.,  3.,  0.]])

In [28]:
a.shape # get the dimension of the array

(3, 4)

In [29]:
a.ravel() # flatten the array -> row wise

array([ 4.,  1.,  2.,  5.,  6.,  5.,  8.,  4.,  0.,  4.,  3.,  0.])

In [30]:
a.shape = (6, 2) # change the shape of an array to rows=6 and col=2
a

array([[ 4.,  1.],
       [ 2.,  5.],
       [ 6.,  5.],
       [ 8.,  4.],
       [ 0.,  4.],
       [ 3.,  0.]])

In [31]:
a.T # transpose the array

array([[ 4.,  2.,  6.,  8.,  0.,  3.],
       [ 1.,  5.,  5.,  4.,  4.,  0.]])

In [32]:
a.resize((6, 2)) # change the dimension of the array
a

array([[ 4.,  1.],
       [ 2.,  5.],
       [ 6.,  5.],
       [ 8.,  4.],
       [ 0.,  4.],
       [ 3.,  0.]])

In [ ]:
a = floor(10*random.random((2, 2))) # generate arrays of dimension 2x2; random number sare choosen as elements
b = floor(10*random.random((2, 2)))

In [ ]:
a

In [ ]:
b

In [ ]:
vstack((a, b)) # vertically stack the two arrays

In [ ]:
hstack((a, b)) # horizontally stack the two arrays

In [ ]:
vstack((b, a)) # the stacking order of arrays matter

In [ ]:
hstack((b, a))

### Linear Algebra

In [ ]:
from numpy.linalg import * # fire up the linear algebra module from numpy

In [ ]:
a = array([[1.0, 2.0], [3.0, 4.0]]) # get an example array
a

In [ ]:
a.T # transpose it

In [ ]:
inv(a) # get the inverse of a numpy array

In [ ]:
aI = eye(2) # generate a identity matrix or 2D array of the specified dimension
aI

In [ ]:
dot(a, a.T) # get the dot product of the two 2D arrays: matrices

Done! Now you are familier with some of the most commonly used concepts in
NumPy. More you will learn now as you work on different problems.