In [2]:
# load packages
import pandas as pd
import numpy

In [3]:
# load data
data = pd.read_csv("data.csv")
data.head()

,Loan_ID,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,GenderCode,MarriedCode,DependentsCode,EducationCode,Self_EmployedCode,Property_AreaCode,Loan_StatusCode
0,LP001002,0.070489,0.000000,0.198860,0.74359,1.0,1,0,0,0,0,2,1
1,LP001003,0.054830,0.036192,0.172214,0.74359,1.0,1,1,1,0,0,0,0
2,LP001005,0.035250,0.000000,0.082489,0.74359,1.0,1,1,0,0,1,2,1
3,LP001006,0.030093,0.056592,0.160637,0.74359,1.0,1,1,0,1,0,2,1
4,LP001008,0.072356,0.000000,0.191027,0.74359,1.0,1,0,0,0,0,2,1

In [4]:
# shape of data
num_rows = data.shape[0]
num_col = data.shape[1]
print("number of rows", num_rows, "and number of column", num_col)

number of rows 614 and number of column 13

In [5]:
# columns present in the data
columns = list(data.columns)
print("names of columns = ", columns)

names of columns =  ['Loan_ID', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term', 'Credit_History', 'GenderCode', 'MarriedCode', 'DependentsCode', 'EducationCode', 'Self_EmployedCode', 'Property_AreaCode', 'Loan_StatusCode']

In [6]:
# check for null or missing values
data.isnull().sum()

Loan_ID              0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
GenderCode           0
MarriedCode          0
DependentsCode       0
EducationCode        0
Self_EmployedCode    0
Property_AreaCode    0
Loan_StatusCode      0
dtype: int64

In [7]:
# check range of values for each column
for col in columns:
    if col != "Loan_ID":
        print("range = ", min(data[col]), max(data[col]))
    else:
        continue

range =  0.0 1.0
range =  0.0 1.0
range =  0.0 1.0
range =  0.0 1.0
range =  0.0 1.0
range =  0 1
range =  0 1
range =  0 3
range =  0 1
range =  0 1
range =  0 2
range =  0 1

No preprocessing is required since data is cleaned!

## Models