# Fire up the engine

Aim of this script is to convert the above data into a format that can be used by the machine learning classification algorithms to predict the 'Zone' of the recipy based on the ingredients used.

#features: different ingredients, nutirtional value

#target: region from which the recipy originated

In [3]:
# import imp packages
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib notebook
plt.style.use("seaborn")

In [4]:
# get raw data
data = pd.DataFrame.from_csv("data/recipy_dataset.csv", header=0)
print(data.shape)
data.head()

(831, 5)

/home/dexter/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls

,Zone,Recipy_Name,Main_Ingredients,Ingredients,Recipy_Link
0,east,"Cuisines, Celebrations and Communalism",[],[],http://www.sailusfood.com/2008/10/08/cuisines-...
1,east,Phirni Recipe,"['rice', ' milk']",['Basmati rice - 1/3 cup (minus 1 tbsp of rice...,http://www.sailusfood.com/2014/03/20/phirni-re...
2,east,Savory Muffins,"['flour', ' corn']",['Plain flour - 1 cup (maida/all purpose flour...,http://www.sailusfood.com/2014/07/22/savory-mu...
3,east,Rasam,['tamarind'],[],http://www.sailusfood.com/2009/11/03/rasam-spi...
4,east,Chole Masala Puri - White Chick Peas Curry wit...,"['channa', ' chickpeas']",[],http://www.sailusfood.com/2005/12/18/chole-mas...

In [5]:
for i, row in data.iterrows():
    # print(len(row["Ingredients"]))
    if len(row["Ingredients"]) == 2:
        data.drop(i, inplace=True)
data.head()

,Zone,Recipy_Name,Main_Ingredients,Ingredients,Recipy_Link
1,east,Phirni Recipe,"['rice', ' milk']",['Basmati rice - 1/3 cup (minus 1 tbsp of rice...,http://www.sailusfood.com/2014/03/20/phirni-re...
2,east,Savory Muffins,"['flour', ' corn']",['Plain flour - 1 cup (maida/all purpose flour...,http://www.sailusfood.com/2014/07/22/savory-mu...
5,east,Indian Food Trail ~ Sindhi Cuisine,"['besan', ' potato']","['Gramflour - 2 tbsps\r', 'Mustard seeds - 1/2...",http://www.sailusfood.com/2013/04/23/indian-fo...
6,east,Paneer Tawa Masala,['paneer'],"['Paneer - 1/4 kg, cubed, place in warm water ...",http://www.sailusfood.com/2013/09/02/paneer-ta...
7,east,Falooda recipe,"['milk', ' falooda sev', ' rose syrup']","['Milk - 2 cups, full fat\r', 'Jelly - 1/2 cup...",http://www.sailusfood.com/2015/05/26/falooda-r...

In [6]:
# get ingredients
count1 = list()
for i, row in data.iterrows():
    new_list = re.findall("[a-zA-z]+[ a-zA-z]*", row["Ingredients"])
    new_list2 = re.findall("\w+[a-zA-Z ]*", row["Ingredients"])
    count1.append(len(new_list2))
    # print(new_list, len(new_list))
    ing_list = list()
    for word in new_list:
        if len(word) > 4:
            ing_list.append(word)
    row["Ingredients"] =  ing_list
data.head()

,Zone,Recipy_Name,Main_Ingredients,Ingredients,Recipy_Link
1,east,Phirni Recipe,"['rice', ' milk']","[Basmati rice , minus , tbsp of rice, soaked f...",http://www.sailusfood.com/2014/03/20/phirni-re...
2,east,Savory Muffins,"['flour', ' corn']","[Plain flour , maida, all purpose flour, Bakin...",http://www.sailusfood.com/2014/07/22/savory-mu...
5,east,Indian Food Trail ~ Sindhi Cuisine,"['besan', ' potato']","[Gramflour , tbsps\r, Mustard seeds , tsp\r, F...",http://www.sailusfood.com/2013/04/23/indian-fo...
6,east,Paneer Tawa Masala,['paneer'],"[Paneer , cubed, place in warm water for , mts...",http://www.sailusfood.com/2013/09/02/paneer-ta...
7,east,Falooda recipe,"['milk', ' falooda sev', ' rose syrup']","[Milk , full fat\r, Jelly , cubed , raspberry ...",http://www.sailusfood.com/2015/05/26/falooda-r...

In [7]:
# get main ingredients
count2 = list()
ingredient_list = list()
for i, row in data.iterrows():
    new_list = re.findall("[a-zA-z]+[a-zA-Z]*", row["Main_Ingredients"])
    new_list2 = re.findall("\w+[a-zA-Z ]*", row["Main_Ingredients"])
    count2.append(len(new_list2))
    ing_list = list()
    for word in new_list:
        if len(word) > 3:
            ing_list.append(word)
            ingredient_list.append(word)
    row["Main_Ingredients"] = ing_list
data.head()

,Zone,Recipy_Name,Main_Ingredients,Ingredients,Recipy_Link
1,east,Phirni Recipe,"[rice, milk]","[Basmati rice , minus , tbsp of rice, soaked f...",http://www.sailusfood.com/2014/03/20/phirni-re...
2,east,Savory Muffins,"[flour, corn]","[Plain flour , maida, all purpose flour, Bakin...",http://www.sailusfood.com/2014/07/22/savory-mu...
5,east,Indian Food Trail ~ Sindhi Cuisine,"[besan, potato]","[Gramflour , tbsps\r, Mustard seeds , tsp\r, F...",http://www.sailusfood.com/2013/04/23/indian-fo...
6,east,Paneer Tawa Masala,[paneer],"[Paneer , cubed, place in warm water for , mts...",http://www.sailusfood.com/2013/09/02/paneer-ta...
7,east,Falooda recipe,"[milk, falooda, rose, syrup]","[Milk , full fat\r, Jelly , cubed , raspberry ...",http://www.sailusfood.com/2015/05/26/falooda-r...

In [8]:
fp = open("data/ingredient_list.txt", mode="w")
for x in ingredient_list:
    fp.write(x+",")
fp.close()

In [9]:
data = data.drop(["Recipy_Name"], axis=1)
data.head()

,Zone,Main_Ingredients,Ingredients,Recipy_Link
1,east,"[rice, milk]","[Basmati rice , minus , tbsp of rice, soaked f...",http://www.sailusfood.com/2014/03/20/phirni-re...
2,east,"[flour, corn]","[Plain flour , maida, all purpose flour, Bakin...",http://www.sailusfood.com/2014/07/22/savory-mu...
5,east,"[besan, potato]","[Gramflour , tbsps\r, Mustard seeds , tsp\r, F...",http://www.sailusfood.com/2013/04/23/indian-fo...
6,east,[paneer],"[Paneer , cubed, place in warm water for , mts...",http://www.sailusfood.com/2013/09/02/paneer-ta...
7,east,"[milk, falooda, rose, syrup]","[Milk , full fat\r, Jelly , cubed , raspberry ...",http://www.sailusfood.com/2015/05/26/falooda-r...

In [10]:
new_map = {"east": 1, "west": 2, "north": 3, "south": 4}

data = data.replace({"Zone": new_map})
data.head()

,Zone,Main_Ingredients,Ingredients,Recipy_Link
1,1,"[rice, milk]","[Basmati rice , minus , tbsp of rice, soaked f...",http://www.sailusfood.com/2014/03/20/phirni-re...
2,1,"[flour, corn]","[Plain flour , maida, all purpose flour, Bakin...",http://www.sailusfood.com/2014/07/22/savory-mu...
5,1,"[besan, potato]","[Gramflour , tbsps\r, Mustard seeds , tsp\r, F...",http://www.sailusfood.com/2013/04/23/indian-fo...
6,1,[paneer],"[Paneer , cubed, place in warm water for , mts...",http://www.sailusfood.com/2013/09/02/paneer-ta...
7,1,"[milk, falooda, rose, syrup]","[Milk , full fat\r, Jelly , cubed , raspberry ...",http://www.sailusfood.com/2015/05/26/falooda-r...

## Get the ingredients

In [11]:
# lets get the ingredients from the ingredients list for each row
data["Ingredients"].head()

1    [Basmati rice , minus , tbsp of rice, soaked f...
2    [Plain flour , maida, all purpose flour, Bakin...
5    [Gramflour , tbsps\r, Mustard seeds , tsp\r, F...
6    [Paneer , cubed, place in warm water for , mts...
7    [Milk , full fat\r, Jelly , cubed , raspberry ...
Name: Ingredients, dtype: object

In [12]:
# get the english stop words to filter the ingredients list
fp = open("data/stop_words_english.txt")
stop_words = fp.readlines()
fp.close()

stop_words = [x.strip("\n") for x in stop_words]
stop_words[0:10]

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're"]

In [13]:
# custom stop words for ingredients
stop_words2 = ["tbsp", "tbsps", "tsps", "taste", "seeds", "moist", "till", "cups", "mins",
           "minus", "lightly", "into", "chop", "finely", "piece", "small", "made", "ready", "temperng",
           "split", "pieces", "warm", "cold", "large", "white", "black", "red", "green", "reduced",
           "hard", "smooth", "like", "hate", "hour", "hours", "fresh", "chill", "chilled", "optional", "slice",
           "sliced", "peel", "peeled", "chop", "chopped", "stick", "leaf", "leaves", "full", "half", "blend",
           "sliced", "blanched", "clean", "dirty", "deep", "bite", "minced", "brown", "sweet",
           "unsweetened", "soaked", "strands", "yellow", "pinch", "powder", "frying", "skin",
           "saute", "pappu", "from", "your", "dark", "meal", "baking", "thick", "according",
           "increase", "individual", "preference", "home", "store", "roast", "poppu", "over" "used", "cake",
           "kebab", "rasam", "stick", "overnight", "bell", "dosa", "soak", "wash", "garnish", "whole", "vinegar",
           "seed", "grate", "without", "husk", "extract", "required", "packed", "luke", "kneed", "filling",
           "size", "clarified", "separate", "should", "each", "only", "kashmiri", "everyday", "puree", "variety",
           "dried", "zest", "less", "sweeter", "purple", "adjust", "slighlty", "room", "temperature",
           "tear", "tempering", "slit", "medium", "masala", "flakes", "fine", "with", "substitute", "sambar",
           "crushed", "chaat", "mint", "cooked", "cook", "knead", "amarnath", "used", "temp", "grated", "purpose",
           "place", "approx", "used", "left", "tabelspoon", "reduce", "powedered", "softened", "plain", "choice",
           "whipping", "bengal", "scrape", "well", "boiled", "heaped", "melted", "sweetness", "drops", "base",
           "for", "or", "make"]

In [14]:
data.head()

,Zone,Main_Ingredients,Ingredients,Recipy_Link
1,1,"[rice, milk]","[Basmati rice , minus , tbsp of rice, soaked f...",http://www.sailusfood.com/2014/03/20/phirni-re...
2,1,"[flour, corn]","[Plain flour , maida, all purpose flour, Bakin...",http://www.sailusfood.com/2014/07/22/savory-mu...
5,1,"[besan, potato]","[Gramflour , tbsps\r, Mustard seeds , tsp\r, F...",http://www.sailusfood.com/2013/04/23/indian-fo...
6,1,[paneer],"[Paneer , cubed, place in warm water for , mts...",http://www.sailusfood.com/2013/09/02/paneer-ta...
7,1,"[milk, falooda, rose, syrup]","[Milk , full fat\r, Jelly , cubed , raspberry ...",http://www.sailusfood.com/2015/05/26/falooda-r...

In [15]:
east_data = data[data["Zone"] == 1]
east_data.head()

,Zone,Main_Ingredients,Ingredients,Recipy_Link
1,1,"[rice, milk]","[Basmati rice , minus , tbsp of rice, soaked f...",http://www.sailusfood.com/2014/03/20/phirni-re...
2,1,"[flour, corn]","[Plain flour , maida, all purpose flour, Bakin...",http://www.sailusfood.com/2014/07/22/savory-mu...
5,1,"[besan, potato]","[Gramflour , tbsps\r, Mustard seeds , tsp\r, F...",http://www.sailusfood.com/2013/04/23/indian-fo...
6,1,[paneer],"[Paneer , cubed, place in warm water for , mts...",http://www.sailusfood.com/2013/09/02/paneer-ta...
7,1,"[milk, falooda, rose, syrup]","[Milk , full fat\r, Jelly , cubed , raspberry ...",http://www.sailusfood.com/2015/05/26/falooda-r...

In [16]:
# number of recipies for east region
east_data.shape

(145, 4)

In [17]:
west_data = data[data["Zone"] == 2]
west_data.head()

,Zone,Main_Ingredients,Ingredients,Recipy_Link
240,2,"[flour, butter, eggs]","[Butter , tbsps , unsalted and softened, Sugar...",http://www.sailusfood.com/2012/11/26/butter-ca...
242,2,"[butter, flour]","[All purpose flour , cups , gms maida, Cornflo...",http://www.sailusfood.com/2011/12/24/shortbrea...
243,2,"[flour, dried, fruits, nuts]","[All purpose flour , cup\r, Cornflour , tbsps\...",http://www.sailusfood.com/2013/12/11/fruit-and...
247,2,"[rice, flour]","[cups rice flour\r, cup chick pea flour, besan...",http://www.sailusfood.com/2008/10/07/janthikal...
251,2,"[amaranth, leaves]","[cup tur dal , kandi pappu, pressure cook unti...",http://www.sailusfood.com/2007/04/12/thotakura...

In [18]:
# number recipies in west region
west_data.shape

(130, 4)

In [19]:
north_data = data[data["Zone"] == 3]
north_data.head()

,Zone,Main_Ingredients,Ingredients,Recipy_Link
480,3,[banana],"[For Koftas, Raw bananas , boil in , cups wate...",http://www.sailusfood.com/2013/05/17/raw-banan...
481,3,"[wheat, flour, urad]","[For Stuffing, Urad dal , cup\r, Green chilis ...",http://www.sailusfood.com/2015/11/30/bedmi-pur...
483,3,"[potatoes, green, peas, tomatoes]","[Potatoes , large, peeled and cubed\r, Green p...",http://www.sailusfood.com/2014/01/06/aloo-mata...
484,3,"[potato, brinjal]","[Green brinjals , baingan, eggplants, vanakaya...",http://www.sailusfood.com/2012/04/26/aloo-bain...
485,3,"[kidney, beans, tomato]","[Rajma , kidney beans, wash and soak water for...",http://www.sailusfood.com/2015/07/19/rajma-rec...

In [20]:
# number of recipies in north region
north_data.shape

(61, 4)

In [21]:
south_data = data[data["Zone"] == 4]
south_data.head()

,Zone,Main_Ingredients,Ingredients,Recipy_Link
627,4,"[urad, yogurt]","[For preparing Vadas, Black gram lentil , urad...",http://www.sailusfood.com/2014/03/22/dahi-bhal...
629,4,"[moong, jaggery]","[lt milk\r, cup split yellow moong dal\r, cup ...",http://www.sailusfood.com/2007/04/09/pesara-pa...
630,4,[vermicelli],"[lt whole milk , I used skimmed, cup roasted s...",http://www.sailusfood.com/2008/10/09/semiya-pa...
631,4,"[curd, curry, leaves]","[Fresh curd , thick and beaten till smooth\r, ...",http://www.sailusfood.com/2016/04/13/neer-mor-...
632,4,"[rice, yogurt]","[Raw rice , washed, cooked till very soft and ...",http://www.sailusfood.com/2016/04/09/ava-petti...

In [22]:
# number of recipies in south region
south_data.shape

(119, 4)

In [23]:
# increase size of the dataframes
for x in range(4):
    temp = north_data.copy()
    north_data = pd.concat([north_data, temp])

north_data.shape

(976, 4)

In [24]:
for x in range(3):
    temp = south_data.copy()
    south_data = pd.concat([south_data, temp])

south_data.shape

(952, 4)

In [25]:
for x in range(3):
    temp = east_data.copy()
    east_data = pd.concat([east_data, temp])

east_data.shape

(1160, 4)

In [26]:
for x in range(3):
    temp = west_data.copy()
    west_data = pd.concat([west_data, temp])

west_data.shape

(1040, 4)

In [27]:
# get all ingredients from east
east_ing_dict = dict()

for i, row in east_data.iterrows():
    val = str(row["Ingredients"])
    val = re.findall("\w+", val)
    for x in val:
        x = x.upper()
        if len(x) > 3:
            if x not in east_ing_dict:
                east_ing_dict[x] = 1
            else:
                east_ing_dict[x] += 1
sorted(east_ing_dict)

east_ing_list = list()

for x in east_ing_dict:
    east_ing_list.append(x)
len(east_ing_list)

726

In [28]:
# get all ingredients from west
west_ing_dict = dict()

for i, row in west_data.iterrows():
    val = str(row["Ingredients"])
    val = re.findall("\w+", val)
    for x in val:
        x = x.upper()
        if len(x) > 3:
            if x not in west_ing_dict:
                west_ing_dict[x] = 1
            else:
                west_ing_dict[x] += 1
sorted(west_ing_dict)

west_ing_list = list()

for x in west_ing_dict:
    west_ing_list.append(x)
len(west_ing_list)

655

In [29]:
# get all ingredients from north
north_ing_dict = dict()

for i, row in north_data.iterrows():
    val = str(row["Ingredients"])
    val = re.findall("\w+", val)
    for x in val:
        x = x.upper()
        if len(x) > 3:
            if x not in north_ing_dict:
                north_ing_dict[x] = 1
            else:
                north_ing_dict[x] += 1
sorted(north_ing_dict)

north_ing_list = list()

for x in north_ing_dict:
    north_ing_list.append(x)
len(north_ing_list)

498

In [30]:
# get imp ingredients from south
south_ing_dict = dict()

for i, row in south_data.iterrows():
    val = str(row["Ingredients"])
    val = re.findall("\w+", val)
    for x in val:
        x = x.upper()
        if len(x) > 3:
            if x not in south_ing_dict:
                south_ing_dict[x] = 1
            else:
                south_ing_dict[x] += 1
sorted(south_ing_dict)

south_ing_list = list()

for x in south_ing_dict:
    south_ing_list.append(x)
len(south_ing_list)

674

In [31]:
all_ingredients = east_ing_list + west_ing_list + north_ing_list + south_ing_list
print("All ingredients =", len(all_ingredients))

# get unique ingredients
ingredients = list()
for x in all_ingredients:
    if x not in ingredients and x.lower() not in stop_words2 and x.lower() not in stop_words:
        ingredients.append(x)
print("All usefull ingredients =", len(ingredients))

All ingredients = 2553
All usefull ingredients = 833

In [32]:
# we now add it together to get our new dataframe
final_data = pd.concat([north_data, south_data, east_data, west_data])
final_data.shape

(4128, 4)

In [33]:
# add ingredients as features to the new dataframe
cnt = 0
for ing in ingredients:
    cnt += 1
    main_list = list()
    for i, row in final_data.iterrows():
        # iterate over all the rows
        ingredient_string = str(row["Ingredients"])
        ingredient_list = re.findall("\w+", ingredient_string)
        ingredient_list = [x.upper() for x in ingredient_list]
        if ing in ingredient_list:
            main_list.append(1)
        else:
            main_list.append(0)
    final_data[ing] = main_list
    #print(cnt, ing, "added to the dataset")
    print(".", end="")
print("Done!")

.................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................Done!

In [34]:
final_data.columns # feature list

Index(['Zone', 'Main_Ingredients', 'Ingredients', 'Recipy_Link', 'BASMATI',
       'RICE', 'WATER', 'DRAINED', 'GROUND', 'PASTE',
       ...
       'BEERAKAAYA', 'GULKAND', 'PETAL', 'SCOOP', 'IMMERSE', 'SORREL', 'ANAAS',
       'PUVU', 'THOROUGHLY', 'GLASSES'],
      dtype='object', length=837)

In [35]:
final_data.shape # dataset dimension

(4128, 837)

In [36]:
final_data.head()

,Zone,Main_Ingredients,Ingredients,Recipy_Link,BASMATI,RICE,WATER,DRAINED,GROUND,PASTE,...,BEERAKAAYA,GULKAND,PETAL,SCOOP,IMMERSE,SORREL,ANAAS,PUVU,THOROUGHLY,GLASSES
480,3,[banana],"[For Koftas, Raw bananas , boil in , cups wate...",http://www.sailusfood.com/2013/05/17/raw-banan...,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
481,3,"[wheat, flour, urad]","[For Stuffing, Urad dal , cup\r, Green chilis ...",http://www.sailusfood.com/2015/11/30/bedmi-pur...,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
483,3,"[potatoes, green, peas, tomatoes]","[Potatoes , large, peeled and cubed\r, Green p...",http://www.sailusfood.com/2014/01/06/aloo-mata...,0,0,1,0,1,1,...,0,0,0,0,0,0,0,0,0,0
484,3,"[potato, brinjal]","[Green brinjals , baingan, eggplants, vanakaya...",http://www.sailusfood.com/2012/04/26/aloo-bain...,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
485,3,"[kidney, beans, tomato]","[Rajma , kidney beans, wash and soak water for...",http://www.sailusfood.com/2015/07/19/rajma-rec...,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [37]:
final_data.to_csv("data/final_recipe_dataset.csv", index=False)

In [38]:
names = list(final_data.columns) # list of columns of the dataset

In [39]:
remove_list = ["Main_Ingredients", "Ingredients", "Recipy_Link"]

for x in remove_list:
    del final_data[x]
final_data.head()

,Zone,BASMATI,RICE,WATER,DRAINED,GROUND,PASTE,ADDING,MILK,CREAM,...,BEERAKAAYA,GULKAND,PETAL,SCOOP,IMMERSE,SORREL,ANAAS,PUVU,THOROUGHLY,GLASSES
480,3,0,0,1,0,0,1,0,1,1,...,0,0,0,0,0,0,0,0,0,0
481,3,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
483,3,0,0,1,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
484,3,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
485,3,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [40]:
features = list()
for x in final_data.columns:
    if x != "Zone":
        features.append(x)
len(features)

833

In [41]:
trainX = final_data[features]
trainX.head()

,BASMATI,RICE,WATER,DRAINED,GROUND,PASTE,ADDING,MILK,CREAM,SUGAR,...,BEERAKAAYA,GULKAND,PETAL,SCOOP,IMMERSE,SORREL,ANAAS,PUVU,THOROUGHLY,GLASSES
480,0,0,1,0,0,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
481,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
483,0,0,1,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
484,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
485,0,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [42]:
trainY = final_data[["Zone"]]
trainY.head()

     Zone
480     3
481     3
483     3
484     3
485     3

## Select important features

In [43]:
# import decision tree classifier
from sklearn.tree import DecisionTreeClassifier

In [44]:
model = DecisionTreeClassifier() # initiate

In [45]:
# Feature Extraction with RFE
from sklearn.feature_selection import RFE

In [46]:
rfe = RFE(model, n_features_to_select=40)

In [47]:
rfe

RFE(estimator=DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best'),
  n_features_to_select=40, step=1, verbose=0)

In [48]:
fitted_model = rfe.fit(trainX, trainY) # fit the model and find the optimum features

/home/dexter/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [49]:
true_features = fitted_model.support_

selected_feature_list = list()

for i in range(len(true_features)):
    if true_features[i] == True:
        selected_feature_list.append(features[i])
selected_feature_list

['WATER',
 'PASTE',
 'CREAM',
 'CARDAMOM',
 'FISTFUL',
 'MAIDA',
 'SALT',
 'CHILI',
 'CUBES',
 'BUTTER',
 'BEATEN',
 'MUSTARD',
 'CUMIN',
 'SPRIG',
 'GINGER',
 'CUBED',
 'CURD',
 'YOGURT',
 'METHI',
 'ONION',
 'GRIND',
 'GARAM',
 'JUICE',
 'ALMONDS',
 'MANGO',
 'COOKING',
 'CLEANED',
 'CASHEW',
 'GHEE',
 'PEPPER',
 'CHILIES',
 'TADKA',
 'SODA',
 'URAD',
 'ROUGHLY',
 'HING',
 'SAUNF',
 'GRAM',
 'CHILLIS',
 'PARSLEY']

In [50]:
len(selected_feature_list)

40

In [60]:
final_data[selected_feature_list].head()

,WATER,PASTE,CREAM,CARDAMOM,FISTFUL,MAIDA,SALT,CHILI,CUBES,BUTTER,...,CHILIES,TADKA,SODA,URAD,ROUGHLY,HING,SAUNF,GRAM,CHILLIS,PARSLEY
480,1,1,1,1,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
481,1,0,0,1,0,0,1,1,0,0,...,0,0,0,1,0,0,0,0,0,0
483,1,1,0,0,0,0,1,1,0,0,...,1,0,0,0,0,0,0,0,0,0
484,0,1,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
485,1,1,0,1,0,0,1,1,0,0,...,1,0,0,0,0,0,0,0,0,0

In [61]:
selected_feature_list.append("Zone")
selected_feature_list

['WATER',
 'PASTE',
 'CREAM',
 'CARDAMOM',
 'FISTFUL',
 'MAIDA',
 'SALT',
 'CHILI',
 'CUBES',
 'BUTTER',
 'BEATEN',
 'MUSTARD',
 'CUMIN',
 'SPRIG',
 'GINGER',
 'CUBED',
 'CURD',
 'YOGURT',
 'METHI',
 'ONION',
 'GRIND',
 'GARAM',
 'JUICE',
 'ALMONDS',
 'MANGO',
 'COOKING',
 'CLEANED',
 'CASHEW',
 'GHEE',
 'PEPPER',
 'CHILIES',
 'TADKA',
 'SODA',
 'URAD',
 'ROUGHLY',
 'HING',
 'SAUNF',
 'GRAM',
 'CHILLIS',
 'PARSLEY',
 'Zone']

In [63]:
new_df = final_data[selected_feature_list].head()
new_df

,WATER,PASTE,CREAM,CARDAMOM,FISTFUL,MAIDA,SALT,CHILI,CUBES,BUTTER,...,TADKA,SODA,URAD,ROUGHLY,HING,SAUNF,GRAM,CHILLIS,PARSLEY,Zone
480,1,1,1,1,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,3
481,1,0,0,1,0,0,1,1,0,0,...,0,0,1,0,0,0,0,0,0,3
483,1,1,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,3
484,0,1,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,3
485,1,1,0,1,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,3

In [64]:
new_df = final_data[selected_feature_list].copy()

In [65]:
new_df.to_csv("data/final-train.csv", index=False)

In [66]:
df = pd.read_csv("data/final-train.csv", header = 0)
df.head() # make sure everything looks good

,WATER,PASTE,CREAM,CARDAMOM,FISTFUL,MAIDA,SALT,CHILI,CUBES,BUTTER,...,TADKA,SODA,URAD,ROUGHLY,HING,SAUNF,GRAM,CHILLIS,PARSLEY,Zone
0,1,1,1,1,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,3
1,1,0,0,1,0,0,1,1,0,0,...,0,0,1,0,0,0,0,0,0,3
2,1,1,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,3
3,0,1,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,3
4,1,1,0,1,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,3