In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split
from sklearn.metrics import mean_squared_error

/home/mr_robot/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
df = pd.DataFrame.from_csv('new-loan-dataset.csv')
df.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
Loan_ID,,,,,,,,,,,,
LP001002,1,0,0,0,0,5849,0.0,146.4,360.0,1.0,2,1
LP001003,1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0,0
LP001005,1,1,0,0,1,3000,0.0,66.0,360.0,1.0,2,1
LP001006,1,1,0,1,0,2583,2358.0,120.0,360.0,1.0,2,1
LP001008,1,0,0,0,0,6000,0.0,141.0,360.0,1.0,2,1

In [3]:
X = df[df.columns[0:-1]]
y = df[df.columns[-1]]
print(X.shape, y.shape)

(614, 11) (614,)

## Simple Validation

In [4]:
# splti the data into tarining and testing data: 80% training and 20% testing data
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size = 0.2, random_state = 1995)

In [5]:
print("Training Data:", Xtrain.shape, ytrain.shape)
print("Testing Data:", Xtest.shape, ytest.shape)

Training Data: (491, 11) (491,)
Testing Data: (123, 11) (123,)

In [6]:
# initiate an instance of the function
model = LogisticRegression()

# fit the model on the training data
model.fit(Xtrain, ytrain)

# predict the out come: test on the testing data
ytest_predicted = model.predict(Xtest)

In [7]:
# chech the accuracy
print(metrics.accuracy_score(ytest, ytest_predicted))

NameError: name 'metrics' is not defined

## Cross-Validation

In [ ]:
from sklearn.cross_validation import cross_val_score

In [ ]:
# initiate the logistic function
model = LogisticRegression()

# cross validate the model
score = cross_val_score(model, X, y, cv=32, scoring='accuray') # cv is the number of data folds

for x in range(len(score)):
    print("Fold ",x, ":", score[x])

In [ ]:
print("Mean Score:", score.mean())

In [ ]:
# cv value: folding value
cv_range = [8, 16, 32, 64, 128]
predicted_score = []

# initiate the logistic function
model = LogisticRegression()

# cross validate the model
for i in range(len(cv_range)):
    # cross_val_score takes care of data split
    score = cross_val_score(model, X, y, cv=cv_range[i], scoring='accuracy')
    #for x in range(len(score)):
        #print("Fold ",x, ":", score[x])
    predicted_score.append(score.mean())
    print('CV ', cv_range[i], ' = ', predicted_score[i])

In [ ]:
# fire up the matplotlib package
import matplotlib.pyplot as plt

# plot the graph
plt.plot(cv_range, predicted_score)
plt.xlabel('Folding Value')
plt.ylabel('Accuracy')
plt.show()

Make sure to consider the fact that higher value of folding with a imited amount of data can run into over-fitting.