## Preprocessing

In [1]:
# load packages
import numpy
import pandas as pd

In [3]:
# load data
df = pd.read_csv("data.csv",
                 names=["sepalLenght", "sepalWidth", "petalLenght", "petalWidth", "flowerType"])
df.head()

   sepalLenght  sepalWidth  petalLenght  petalWidth   flowerType
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [4]:
df.shape

(150, 5)

In [5]:
# check for null or missign values
df.isnull().sum()

sepalLenght    0
sepalWidth     0
petalLenght    0
petalWidth     0
flowerType     0
dtype: int64

In [6]:
# get unique target values
df.flowerType.unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [7]:
# create mapping
mapping = dict()
i = 0
for tar in list(df.flowerType.unique()):
    mapping[tar] = i
    i += 1
# apply the mapping
df.flowerType = df.flowerType.map(mapping)
df.head()

   sepalLenght  sepalWidth  petalLenght  petalWidth  flowerType
0          5.1         3.5          1.4         0.2           0
1          4.9         3.0          1.4         0.2           0
2          4.7         3.2          1.3         0.2           0
3          4.6         3.1          1.5         0.2           0
4          5.0         3.6          1.4         0.2           0

In [8]:
# now get the targte column values
df.flowerType.unique()

array([0, 1, 2])

In [9]:
# normalize data
for col in df.columns:
    if col != "flowerType":
        df[col] = df[col] / max(df[col])
    else:
        continue

In [10]:
df.head()

   sepalLenght  sepalWidth  petalLenght  petalWidth  flowerType
0     0.645570    0.795455     0.202899        0.08           0
1     0.620253    0.681818     0.202899        0.08           0
2     0.594937    0.727273     0.188406        0.08           0
3     0.582278    0.704545     0.217391        0.08           0
4     0.632911    0.818182     0.202899        0.08           0

In [12]:
# check for skewness
for col in df.columns:
    if col != "flowerType":
        print(df[col].skew())
    else:
        continue

0.31491095663697277
0.3340526621720897
-0.27446425247378387
-0.104996562144126

## Models

In [13]:
# load packages
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split