In [4]:
# LOAD PACKAGES
import tensorflow as tf
from tensorflow import keras
import numpy
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
plt.style.use("seaborn")

In [17]:
# LOAD DATA
df = pd.read_csv("data/iris_data.csv",
                 names=["sepalLenght", "sepalWidth", "petalLenght", "petalWidth", "flowerType"])
df.head(5)

   sepalLenght  sepalWidth  petalLenght  petalWidth   flowerType
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [24]:
df.shape

(150, 5)

In [26]:
df.describe()

       sepalLenght  sepalWidth  petalLenght  petalWidth
count   150.000000  150.000000   150.000000  150.000000
mean      5.843333    3.054000     3.758667    1.198667
std       0.828066    0.433594     1.764420    0.763161
min       4.300000    2.000000     1.000000    0.100000
25%       5.100000    2.800000     1.600000    0.300000
50%       5.800000    3.000000     4.350000    1.300000
75%       6.400000    3.300000     5.100000    1.800000
max       7.900000    4.400000     6.900000    2.500000