In [1]:
# load packages
import numpy
import pandas as pd

In [2]:
# load data
df = pd.read_csv("data/iris-dataset.csv")
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
df.shape, df.columns

((150, 5), Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
        'species'],
       dtype='object'))

In [4]:
# check for null or missign values
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [5]:
# get unique target values
df.species.unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [6]:
df.species.value_counts()

setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64

In [7]:
def create_map(name):
    if name == "virginica":
        return 0
    elif name == "versicolor":
        return 1
    else:
        return 2
# convert string to numeric
df.species = df.species.apply(lambda x: create_map(x))
df.species = df.species.astype("category")

In [8]:
df.dtypes

sepal_length     float64
sepal_width      float64
petal_length     float64
petal_width      float64
species         category
dtype: object

In [9]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2       2
1           4.9          3.0           1.4          0.2       2
2           4.7          3.2           1.3          0.2       2
3           4.6          3.1           1.5          0.2       2
4           5.0          3.6           1.4          0.2       2

In [10]:
df.to_csv("data/iris-dataset-cleaned.csv", index=False)